---
import MainGridLayout from "../layouts/MainGridLayout.astro";
import { getEntry } from 'astro:content'
import Markdown from "@components/misc/Markdown.astro";
import Pagination from "../components/control/Pagination.astro";
import {getPostsByCategory} from "../utils/content-utils";
import {PAGE_SIZE} from "../constants/constants";
import PostPage from "../components/PostPage.astro";

const aboutPost = await getEntry('spec', 'about_r')
const { Content } = await aboutPost.render()

export async function getStaticPaths({ paginate }) {
    const allBlogPosts = await getPostsByCategory("Research");
    return paginate(allBlogPosts, { pageSize: PAGE_SIZE });
}

const {page} = Astro.props;

const len = page.data.length;

---

<MainGridLayout>
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32 mb-5">
        <div class="card-base z-10 px-9 py-6 relative w-full ">
            <Markdown class="mt-2">
                <Content />
            </Markdown>
        </div>
    </div>
    <PostPage page={page}></PostPage>
    <Pagination class="mx-auto onload-animation" page={page} style=`animation-delay: calc(var(--content-delay) + ${(len)*50}ms)`></Pagination>
</MainGridLayout>